img {
    max-width: 100%;
    max-height: 100%;
}

button:has(> img:only-child) {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 0;
}

#towerMenu {
    position: absolute;
    width: var(--tower-width);
    height: var(--tower-height);
    background: red;

    max-width: var(--max-size);
    max-height: var(--max-size);
    left: var(--tower-x);
    top: var(--tower-y);

    /* these are set in the javascript */
    --tower-x: 0;
    --tower-y: 0;
    --tower-width: 0;
    --tower-height: 0;

    /* there are calcul done here */
    --max-size: max(var(--tower-width), var(--tower-height));
    --min-size: min(var(--tower-width), var(--tower-height));
    --additional-translation: calc(0.25 * var(--min-size));

    & #sellTower, & #upgradeTower {
        position: absolute;
        width: calc(0.5 * var(--tower-height));
        height: calc(0.5 * var(--tower-height));
    }
    & #sellTower {
        translate: calc(calc(0px - calc(0.5 * var(--tower-height))) - var(--additional-translation)) calc(0.25 * var(--tower-height));
    }
    & #upgradeTower {
        translate: calc(calc(0px + var(--tower-width)) + var(--additional-translation)) calc(0.25 * var(--tower-height));
    }
}
axax
#pauseMenu {
    position: absolute;
    top: 300px;
    left: 300px;
}
