:root {
    --margin: 5%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

#lobby {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template:
        "title mapName mapName" fit-content(4em)
        "mapPreview mapPreview mapPreview" 1fr
        "prevMapButton nextMapButton startButton" max(4em, 10%) / 1fr 1fr 1fr;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }
    & > h2 { grid-area: title; justify-self: left; margin-left: var(--margin)}
    & > #mapPreview { grid-area: mapPreview; justify-self: center; }
    & > #mapName { grid-area: mapName; justify-self: right; margin-right: var(--margin); }
    & > #lobbyPrevMapButton { grid-area: prevMapButton;}
    & > #lobbyNextMapButton { grid-area: nextMapButton;}
    & > #lobbyStartButton { grid-area: startButton;}
}

#textures > img {
    max-width: 100%;
    max-height: 100%;
}

button:has(> img:only-child) {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 0;

    & > img {
        width: 100%;
        height: 100%;
    }
}
#game {
    & > canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    & > #gui {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: max(20px,5vh);
        pointer-events: none;

        display: grid;
        grid-template:
            "money life void1 crystal void2 void3 wave" 1fr
            "menu menu menu towers towers towers towers" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        & > #money { grid-area: money }
        & > #life { grid-area: life }
        & > #crystal { grid-area: crystal }
        & > #wave { grid-area: wave }
        & > #menu { grid-area: menu }
        & > #towers {
            grid-area: towers;
            display: flex;
            justify-content: right;
            align-items: end;
        }

        /* justification */
        & > #money, & > #life, & > #menu { justify-self: start }
        & > #crystal { justify-self: center }
        & > #wave, & > #entityActions { justify-self: end }

        /* alignement */
        & > #money, & > #life, & > #crystal, & > #wave { align-self: start }
        & > #menu, & > #entityActions { align-self: end }

        & > #money, & > #life, & > #menu, & > #crystal, & > #wave {
            display: flex;
            align-items: center;
        }
        & button { font-size: 1em }
        & img { height: 1.5lh }

        & > #menu > *, & > #towers > * {
            pointer-events: all;
        }

        #menu > * {
            border: none;
            background: none;
        }
    }
}

#debugOverlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
}

#towerMenu {
    position: absolute;
    width: var(--tower-width);
    height: var(--tower-height);
    background: transparent;

    max-width: var(--max-size);
    max-height: var(--max-size);
    left: var(--tower-x);
    top: var(--tower-y);

    /* these are set in the javascript */
    --tower-x: 0;
    --tower-y: 0;
    --tower-width: 0;
    --tower-height: 0;

    /* there are calcul done here */
    --max-size: max(var(--tower-width), var(--tower-height));
    --min-size: min(var(--tower-width), var(--tower-height));
    --additional-translation: calc(0.25 * var(--min-size));

    & #sellTower, & #upgradeTower {
        position: absolute;
        width: calc(0.5 * var(--tower-height));
        height: calc(0.5 * var(--tower-height));
    }
    & #sellTower {
        translate: calc(calc(0px - calc(0.5 * var(--tower-height))) - var(--additional-translation)) calc(0.25 * var(--tower-height));
    }
    & #upgradeTower {
        translate: calc(calc(0px + var(--tower-width)) + var(--additional-translation)) calc(0.25 * var(--tower-height));
    }
}

#pauseMenu {
    position: absolute;
    top: 300px;
    left: 300px;
}
