html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --margin: 5%;
}

.hidden {
    display: none !important;
}

#lobby {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template:
        "title mapName mapName" fit-content(4em)
        "mapPreview mapPreview mapPreview" 1fr
        "prevMapButton nextMapButton startButton" max(4em, 10%) / 1fr 1fr 1fr;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }
    & > h2 { grid-area: title; justify-self: left; margin-left: var(--margin)}
    & > #mapPreview { grid-area: mapPreview; justify-self: center; }
    & > #mapName { grid-area: mapName; justify-self: right; margin-right: var(--margin); }
    & > #lobbyPrevMapButton { grid-area: prevMapButton;}
    & > #lobbyNextMapButton { grid-area: nextMapButton;}
    & > #lobbyStartButton { grid-area: startButton;}
}

#game {
    & > canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    & > #gui {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: max(20px,5vh);

        display: grid;
        grid-template:
            "money life void1 crystal void2 void3 wave" 1fr
            "menu menu menu towers towers towers towers" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        & > #money { grid-area: money }
        & > #life { grid-area: life }
        & > #crystal { grid-area: crystal }
        & > #wave { grid-area: wave }
        & > #menu { grid-area: menu }
        & > #towers {
            grid-area: towers;
            display: flex;
            justify-content: right;
            align-items: end;
        }

        /* justification */
        & > #money, & > #life, & > #menu { justify-self: start }
        & > #crystal { justify-self: center }
        & > #wave, & > #entityActions { justify-self: end }

        /* alignement */
        & > #money, & > #life, & > #crystal, & > #wave { align-self: start }
        & > #menu, & > #entityActions { align-self: end }

        & > #money, & > #life, & > #menu, & > #crystal, & > #wave {
            display: flex;
            align-items: center;
        }
        & button { font-size: 1em }
        & img { height: 1.5lh }

        & > #money, & > #life, & > #crystal, & > #wave {
            pointer-events: none;
        }

        #menu > * {
            border: none;
            background: none;
        }
    }
}

#debugOverlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
}
